.logoTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuItems {
  display: flex;
  justify-content: space-between;
}

.menuItem {
  cursor: pointer;
  padding: 0.5rem;
}
.menuItem:hover {
  /* background: grey; */
  color: #fb2e86;
}

.active {
  color: #fb2e86;
}
